<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import { onMounted } from 'vue';
// import EmpMgmt from './views/soo/EmpMgmt.vue'
</script>

<template>
    <RouterView />
    <!-- <EmpMgmt/> -->
</template>

