.screen{
  width: 1000px;
  height : 2000px;
}

.searchBox {
  border-style: solid;
  border-color: slateblue;
  padding: 5px;
}

.gridBox{
  margin-top: 20px;
}

.inputBox {
  border-style: solid;
  border-color: rgb(231, 231, 231);
  background-color: rgb(233, 243, 246);
  padding: 5px;
  margin-top: 5px;
}

.detailBox {
  padding: 5px;
  margin-top: 20px;
}

.s-text {
  padding: 5px;
}

.s-input {
    padding: 5px;
    width: 100px;
  }


.m-input {
  padding: 10px;
  width: 200px;
}

.l-input {
  padding: 10px;
  width: 300px;
}

.searchBtn{
}