<script setup lang="ts">
import EmpMgmt from "./EmpMgmt.vue"

const closePopup = ()=> {
    console.log("close!!!!!")
}
</script>

<template>
    <EmpMgmt :empno="'200924'" @close-popup="closePopup"/>
</template>

<style scoped>

</style>
